* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  inline-size: 100%;
  block-size: 100%;
  background-image: url(premium_photo.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: transparent;
}
.main {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.loome {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.3s;
  font-family: poppins, sans-serif;
  opacity: 0.8;
}

#menu-toggle {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 30px;
}

.bar {
  background-color: #333;
  height: 4px;
  width: 100%;
  transition: 0.4s;
  border-radius: 2px;
}

.center {
  display: flex;
  height: 80vh;
  width: 100%;

  
}

.left,
.right {
  width: 40%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  
  border-radius: 10px;
}

.middle{
    display: flex;
    /* flex-direction: column; */
    align-items: baseline;
    gap : 20px;
    transform: rotate(-90deg);
    
}

.aside{
  height: 100%;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 40px;
  border-radius: 10px;
}

#menu-toggle:checked + .hamburger .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked + .hamburger .bar:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
