* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  inline-size: 100%;
  block-size: 100%;
  background-image: url(premium_photo.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: transparent;
}
.main {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.loome {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.3s;
  font-family: poppins, sans-serif;
  opacity: 0.8;
}

#menu-toggle {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  inline-size: 30px;
}

.bar {
  background-color: #333;
  block-size: 4px;
  inline-size: 100%;
  transition: 0.4s;
  border-radius: 2px;
}

.center {
  display: flex;
  block-size: 80vh;
  inline-size: 100%;
}

.left,
.right {
  inline-size: 40%;
  block-size: 100%;
  background-color: transparent;
  border-radius: 10px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.right img {
  inline-size: 100%;
  block-size: 80%;
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  margin-block-end: 100px;
}
.btn {
  block-size: 100px;
  inline-size: 100px;
  position: absolute;
  inset-block-end: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  margin-inline-start: 530px;
  margin-block-end: 100px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;
  border-radius: 50px;
}
#bag-icon {
  margin-block-end: 8px;
}

.rating{
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  inset-block-end: 600px;
  margin-inline-start: 1020px;
  z-index: 1;
  background:whitesmoke;
  padding: 5px 10px;
  border-radius: 20px;
}

.aside {
  block-size: 100%;
  inline-size: 10%;
  background-color: transparent;
  margin-inline-start: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.box1,
.box2,
.box3,
.box4 {
  block-size: 25%;
  background-color: transparent;

  border-radius: 10px;
  overflow: hidden;
}

.box1 img,
.box2 img,
.box3 img,
.box4 img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
#menu-toggle:checked + .hamburger .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked + .hamburger .bar:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
